name: CI
on:
  pull_request:
    types: [opened, reopened, synchronize, ready_for_review]
  merge_group:
concurrency:
  group: ci-${{ github.event_name == 'pull_request' && github.head_ref || github.sha }}
  cancel-in-progress: true
permissions:
  contents: read
  pull-requests: write
  issues: write
jobs:
  ci:
    name: CI
    runs-on: ubuntu-latest
    if: ${{ github.event.pull_request.draft == false }}
    env:
      CI: true
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        continue-on-error: true
      - name: Generate Token
        if: ${{ github.event_name == 'pull_request' }}
        id: generate-token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ vars.EDUCADO_BOT_CLIENT_ID }}
          private-key: ${{ secrets.EDUCADO_BOT_PEM }}
        continue-on-error: true
      - name: Get Project and Pull Request Data
        if: ${{ github.event_name == 'pull_request' }}
        id: project-pr-data
        env:
          GH_TOKEN: ${{ steps.generate-token.outputs.token }}
          ORGANIZATION: ${{ github.repository_owner }}
          PROJECT_NUMBER: 17
        run: |
          set -euo pipefail

          gh api graphql \
            -f org="$ORGANIZATION" \
            -F number="$PROJECT_NUMBER" \
            -f query='
              query ($org: String!, $number: Int!) {
                organization(login: $org) {
                  projectV2(number: $number) {
                    id
                    fields(first: 50) {
                      nodes {
                        ... on ProjectV2Field {
                          id
                          name
                        }
                        ... on ProjectV2SingleSelectField {
                          id
                          name
                          options {
                            id
                            name
                          }
                        }
                      }
                    }
                  }
                }
              }
              ' >project-data.json

          gh api graphql \
            -f owner="$ORGANIZATION" \
            -f repo="${{ github.event.repository.name }}" \
            -F pr="${{ github.event.number }}" \
            -f query='
              query ($owner: String!, $repo: String!, $pr: Int!) {
                repository(owner: $owner, name: $repo) {
                  pullRequest(number: $pr) {
                    id
                    commits(first: 250) {
                      nodes {
                        commit {
                          authors(first: 10) {
                            nodes {
                              user {
                                id
                                login
                              }
                            }
                          }
                        }
                      }
                    }
                    closingIssuesReferences(first: 50) {
                      nodes {
                        id
                        number
                        repository {
                          owner {
                            login
                          }
                          name
                        }
                        projectItems(first: 20) {
                          nodes {
                            id
                            project {
                              id
                              number
                            }
                          }
                        }
                      }
                    }
                    timelineItems(itemTypes: [CONNECTED_EVENT], first: 200) {
                      nodes {
                        ... on ConnectedEvent {
                          subject {
                            __typename
                            ... on Issue {
                              id
                              number
                              repository {
                                owner {
                                  login
                                }
                                name
                              }
                              projectItems(first: 20) {
                                nodes {
                                  id
                                  project {
                                    id
                                    number
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
              ' >pr-data.json

          pr_id="$(jq -r '.data.repository.pullRequest.id' pr-data.json)"

          echo "pr_id=$pr_id" >>"$GITHUB_OUTPUT"
        continue-on-error: true
      - name: Set Issue Statuses
        if: ${{ github.event_name == 'pull_request' }}
        id: set-issue-statuses
        env:
          GH_TOKEN: ${{ steps.generate-token.outputs.token }}
          ITEM_STATUS: In Review
        run: |
          set -euo pipefail

          project_id="$(jq -r '.data.organization.projectV2.id' project-data.json)"

          jq --arg pid "$project_id" \
            -r '[
                # Commit closing keywords
                (.data.repository.pullRequest.closingIssuesReferences.nodes[]?
                .projectItems.nodes[]? | select(.project.id==$pid) | .id),

                # PR Development sidebar
                (.data.repository.pullRequest.timelineItems.nodes[]?
                .subject?.projectItems?.nodes[]? | select(.project.id==$pid) | .id)
                ]

                | flatten | unique[]' pr-data.json >item-ids.txt || true

          if [ ! -s item-ids.txt ]; then
            echo "::notice::No Project $project_id items linked. Nothing to update."

            exit 0
          fi

          status_field_id="$(
            jq -r \
              '.data.organization.projectV2.fields.nodes[]
              | select(.name == "Status")
              | .id' \
              project-data.json
          )"

          in_review_option_id="$(
            jq -r \
              ".data.organization.projectV2.fields.nodes[]
              | select(.name == \"Status\")
              | .options[]
              | select(.name == \"$ITEM_STATUS\")
              | .id" \
              project-data.json
          )"

          while read -r item_id; do
            gh api graphql \
              -f project="$project_id" \
              -f status_field_id="$status_field_id" \
              -f status_value="$in_review_option_id" \
              -f item="$item_id" \
              -f query='
                mutation (
                  $project: ID!
                  $item: ID!
                  $status_field_id: ID!
                  $status_value: String!
                ) {
                  updateProjectV2ItemFieldValue(
                    input: {
                      projectId: $project
                      itemId: $item
                      fieldId: $status_field_id
                      value: { singleSelectOptionId: $status_value }
                    }
                  ) {
                    projectV2Item {
                      id
                    }
                  }
                }
                '
          done <item-ids.txt
        continue-on-error: true
      - name: Set Assignees
        if: ${{ github.event_name == 'pull_request' }}
        env:
          GH_TOKEN: ${{ steps.generate-token.outputs.token }}
        run: |
          set -euo pipefail

          authors=()

          while IFS= read -r author; do
            authors+=("$author")
          done < <(jq -r '.data.repository.pullRequest.commits.nodes[] | .commit.authors.nodes[] | .user?.id' pr-data.json | sort -u)

          assignable_users=()

          while IFS= read -r assignable_user; do
            assignable_users+=("$assignable_user")
          done < <(gh api --paginate "/repos/${{ github.repository_owner }}/${{ github.event.repository.name }}/assignees?per_page=100" --jq '.[].node_id' | sort -u)

          declare -A ok=()

          for id in "${assignable_users[@]}"; do
            ok["$id"]=1
          done

          filtered_authors=()

          for id in "${authors[@]}"; do
            [[ -n "${ok[$id]:-}" ]] && filtered_authors+=("$id")
          done

          filtered_authors=("${filtered_authors[@]:0:10}")

          if [ "${#filtered_authors[@]}" -eq 0 ]; then
            echo '::error::No authors found.'

            exit 0
          fi

          args=()

          for author_id in "${filtered_authors[@]}"; do
            args+=(-f assigneeIds\[\]="$author_id")
          done

          gh api graphql \
            -f assignableId="${{ steps.project-pr-data.outputs.pr_id }}" "${args[@]}" \
            -f query='
              mutation ($assignableId: ID!, $assigneeIds: [ID!]!) {
                addAssigneesToAssignable(
                  input: { assignableId: $assignableId, assigneeIds: $assigneeIds }
                ) {
                  assignable {
                    __typename
                    ... on PullRequest {
                      id
                    }
                  }
                }
              }
              '
        continue-on-error: true
      - name: Clean Up Project and Pull Request Data
        if: ${{ github.event_name == 'pull_request' }}
        run: |
          rm project-data.json
          rm pr-data.json
          rm item-ids.txt
        continue-on-error: true
      - name: Set Up Node.js
        uses: actions/setup-node@v5
        with:
          node-version-file: .nvmrc
          cache: npm
        continue-on-error: true
      - name: Install Dependencies
        run: npm ci
        continue-on-error: true
      - name: Check Dependencies
        run: npx expo install --check
        continue-on-error: true
      - name: Run Expo Doctor
        run: npx expo-doctor
        continue-on-error: true
      - name: Run Prettier
        run: npm run format:check
        continue-on-error: true
      - name: Get Files Changed (PR)
        if: ${{ github.event_name == 'pull_request' }}
        uses: actions/github-script@v8
        with:
          script: |
            const fs = require("node:fs/promises");
            const nodePath = require("node:path");

            const files = await github.paginate(github.rest.pulls.listFiles, {
              owner: context.repo.owner,
              repo: context.repo.repo,
              pull_number: context.payload.pull_request.number
            });

            const paths = files.map(file => file.filename);

            const outPath = nodePath.join(process.env.GITHUB_WORKSPACE, "files-changed.json");
            await fs.writeFile(outPath, JSON.stringify(paths, null, 2));

            core.exportVariable("FILES_CHANGED_JSON", outPath);
        continue-on-error: true
      - name: Get Files Changed (Merge Group)
        if: ${{ github.event_name == 'merge_group' }}
        run: |
          set -euo pipefail

          base_ref="${{ github.event.merge_group.base_ref }}"
          base_sha="${{ github.event.merge_group.base_sha }}"
          head_sha="${{ github.sha }}"

          echo "Base ref: $base_ref"
          echo "Base SHA: $base_sha"
          echo "Head SHA: $head_sha"

          git fetch --no-tags --prune --depth=200 origin "$base_ref"

          git diff --name-only --diff-filter=ACMRT "$base_sha" "$head_sha" |
            jq -Rsc 'split("\n")[:-1]' >files-changed.json

          echo "FILES_CHANGED_JSON=$PWD/files-changed.json" >>"$GITHUB_ENV"
        continue-on-error: true
      - name: Run ESLint
        run: npm run lint:ci
        continue-on-error: true
      - name: Run tsc
        run: npm run tsc:ci
        continue-on-error: true
      - name: Report
        run: npm run ci:report "$FILES_CHANGED_JSON" eslint-report.json tsc-report.json
        continue-on-error: true
      - name: Run Tests
        run: npm run test:ci
        continue-on-error: true
      - name: Decide Build
        id: build_gate
        run: |
          set -euo pipefail

          need=false

          if [ "${{ github.event_name }}" = "merge_group" ]; then
            need=true
          else
            files_changed=$(jq -r '.[]' "$FILES_CHANGED_JSON")

            for f in $files_changed; do
              case "$f" in
              app.json | eas.json)
                need=true
                ;;
              esac
            done
          fi

          echo "need=$need" >>"$GITHUB_OUTPUT"
        continue-on-error: true

      - name: Set Up Expo
        uses: expo/expo-github-action@v8
        with:
          token: ${{ env.EXPO_TOKEN }}
          packager: npm
          expo-version: latest
          eas-version: latest

      - name: Setup EAS local builds
        run: npm install -g eas-cli-local-build-plugin

      - name: Run EAS Build
        run: |
          eas build \
            --platform android \
            --non-interactive \
            --profile preview \
            --local
        env:
          EXPO_TOKEN: ${{ secrets.EXPO_TOKEN }}
