name: Release Please

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: write
  issues: write
  pull-requests: write

jobs:
  release-please:
    # Remember to change runs-on to self-hosted when moving to production
    runs-on: ubuntu-latest
    outputs:
      upload_url: ${{ steps.release-please.outputs.upload_url }}
      releases_created: ${{ steps.release-please.outputs.releases_created }}
      tag_name: ${{ steps.release-please.outputs.tag_name }}
    steps:
      - name: Generate Token
        id: generate-token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ vars.EDUCADO_BOT_CLIENT_ID }}
          private-key: ${{ secrets.EDUCADO_BOT_PEM }}
      - name: Release Please Action
        id: release-please
        uses: googleapis/release-please-action@16a9c90856f42705d54a6fda1823352bdc62cf38
        with:
          token: ${{ steps.generate-token.outputs.token }}
          manifest-file: .release-please-manifest.json
          config-file: release-please-config.json
      - name: Log Outputs
        run: |
          echo "Upload URL: ${{ steps.release-please.outputs.upload_url }}"
          echo "Releases Created: ${{ steps.release-please.outputs.releases_created }}"

  build-and-upload:
    if: needs.release-please.outputs.releases_created == 'true'
    # Remember to change runs-on to self-hosted when moving to production
    runs-on: ubuntu-latest
    needs: release-please
    steps:
      - name: Generate Token
        id: generate-token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ vars.EDUCADO_BOT_CLIENT_ID }}
          private-key: ${{ secrets.EDUCADO_BOT_PEM }}

      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set Up Node.js
        uses: actions/setup-node@v4
        with:
          node-version-file: .nvmrc
          cache: "npm"

      - name: Cache npm
        uses: actions/cache@v4
        with:
          path: |
            ~/.npm
            ~/.cache
          key: ${{ runner.os }}-npm-${{ hashFiles('**/package-lock.json','**/yarn.lock','**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-npm-

      - name: Setup for EAS Build
        uses: expo/expo-github-action@v7
        with:
          eas-version: latest
          expo-version: latest

      - name: Setup EAS local builds
        run: npm install -g eas-cli-local-build-plugin

      - name: Install dependencies
        run: npm install

      - name: Test Project
        run: npm test
        # Bypass test failures to ensure builds are created for now
        continue-on-error: true

      - name: Cache Gradle
        if: runner.os == 'Linux'
        uses: actions/cache@v4
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*','**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Run EAS Build
        run: |
          eas build \
            --platform android \
            --non-interactive \
            --profile production \
            --local \
            --output="./builds/app-release.aab"
        env:
          EXPO_TOKEN: ${{ secrets.EXPO_TOKEN }}
          EXPO_PUBLIC_STRAPI_BACKEND: ${{ env.EXPO_PUBLIC_STRAPI_BACKEND_PROD }}
      - name: Generate Token
        id: generate-toke
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ vars.EDUCADO_BOT_CLIENT_ID }}
          private-key: ${{ secrets.EDUCADO_BOT_PEM }}

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: android-build
          path: ./builds/
          retention-days: 5

      - name: Upload Release Assets
        uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{ needs.release-please.outputs.tag_name }}
          token: ${{ steps.generate-toke.outputs.token }}
          files: |
            ./builds/app-release.aab
